<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary"><%= page.title%></h1>
      </div>
    </div>
  </div>
  <img src="/css/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/css/images/illustrations/leaf-pink-round.svg" alt="illustrations" class="bg-shape-2">
  <img src="/css/images/illustrations/dots-cyan.svg" alt="illustrations" class="bg-shape-3">
  <img src="/css/images/illustrations/leaf-orange.svg" alt="illustrations" class="bg-shape-4">
  <img src="/css/images/illustrations/leaf-yellow.svg" alt="illustrations" class="bg-shape-5">
  <img src="/css/images/illustrations/dots-group-cyan.svg" alt="illustrations" class="bg-shape-6">
  <img src="/css/images/illustrations/leaf-cyan-lg.svg" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
