
<% if (config.preloader.enabled){ %>
  <div class="preloader">
      <% if (config.preloader.preloader){ %>
      <img src="<%= config.preloader.preloader %>" alt="preloader">
      <% } %>
  </div>
<% } %>
